<div class="borderr flux-content-container hyphens-break-word">
  <div class="flux-content-first-line">
    {% if post.user == request.user %}
      <p><strong>Vous</strong> avez publié une critique</p>
    {% else %}
      <p><strong>{{ post.user }}</strong> a publié une critique</p>
    {% endif %}
    <p>{{ post.time_created }}</p>
  </div>

  <div class="flexbox-start">
    <p>{{ post.headline }}  -  </p>
    <div class="star{% if post.rating < 1 %} star-invalid{% endif %}"></div>
    <div class="star{% if post.rating < 2 %} star-invalid{% endif %}"></div>
    <div class="star{% if post.rating < 3 %} star-invalid{% endif %}"></div>
    <div class="star{% if post.rating < 4 %} star-invalid{% endif %}"></div>
    <div class="star{% if post.rating < 5 %} star-invalid{% endif %}"></div>
  </div>
  {% if post.body %}
    <p>{{ post.body }}</p>
  {% endif %}
  <div class="flux-content-container-interlock">
    {% include 'reviews/ticket_view_snippet.html' with post=post.ticket option="interlock" %}
  </div>

  {% if option == "posts-user" %}
    <div class="flexbox-right">
      <a class="fields-margin" href="{% url 'review-edit' post.id %}">
        <input class="generic-buttonn" type="submit" value="Modifier">
      </a>
      <a class="fields-margin" href="{% url 'review-delete' post.id %}">
        <input class="generic-buttonn" type ="submit" value="Supprimer">
      </a>
    </div>
  {% endif %}
</div>