{% extends "base.html" %}

{% block content %}

{% if not option %}
  <h2>Créer un ticket</h2>
{% elif option == "edit" %}
  <h2>Modifier votre ticket</h2>
{% endif %}

<form class="flexbox-center flex-column" method="post" enctype="multipart/form-data">
  {% csrf_token %}
  {% for field in form %}
    {{ field.label_tag }}

    {% if image %}
      <img src="{{ form.image.url }}" alt="Image inexistante">
      <p>JE SUIS LA</p>
    {% endif %}
    
    {{ field }}
  {% endfor %}

  <div class="flexbox-right">
    <input class="button-margin-right generic-buttonn" type="submit" value="Envoyer">
  </div>
</form>

<div class="flexbox-right">
  <a href="
  {% if option == 'edit' %}{% url 'posts-user' %}
  {% else %}{% url 'flux-user' %}
  {% endif %}">
    <input class="button-margin-right generic-buttonn" type="submit" value="Annuler">
  </a>
</div>

{% endblock %}