<div class="borderr flux-content-container flux-content-interlock">
  <div class="flux-content-first-line">
    <p>Ticket - <strong>{{ post.user }}</strong></p>
  </div>
  <p>{{ post.title }}</p>
  {% if post.image %}
    <div class="margin-left-20">
      <img src="{{ post.image.url }}" alt="Image inexistante">
    </div>
  {% endif %}
  {% if not option %}
    <div class="flex-button-ticket">
      <a class="fields-margin" href="{% url 'ticket-answer' post.id %}">
        <input class="generic-buttonn to-right" type="submit" value="Crée une critique">
      </a>
    </div>
  {% endif %}
</div>