<h2 class="{% if option %}hidden{% endif %}">Créer un ticket</h2>

<form class="flexbox-center flex-column" method="post" enctype="multipart/form-data">
  {% csrf_token %}
  {% for field in form %}
    {{ field.label_tag }}
    {{ field }}
  {% endfor %}


  <div class="to-right{% if option %} hidden{% endif %}">
    <input class="button-margin-right generic-buttonn" type="submit" value="Publier">
  </div>
</form>

<div class="to-right{% if option %} hidden{% endif %}">
  <a href="{% url 'flux' %}">
    <input class="button-margin-right generic-buttonn" type="submit" value="Annuler">
  </a>
</div>