{% extends "base.html" %}

{% block content %}

<h2>Inscrivez-vous</h2>
{% if form.errors %}
  {{ form.errors }}
{% endif %}

<div class="flexbox-center">
  <form class="flexbox-center flex-column size-little-fields" method="post">
    {% csrf_token %}
    {% for field in form %}
      {{ field }}
    {% endfor %}

    <div class="flexbox-right">
      <a href="{% url 'home-page' %}" type="button">
        <input class="fields-margin generic-buttonn" type="button" value="Retourner">
      </a>
      <input class="fields-margin generic-buttonn" type="submit" value="S'inscrire">
    </div>
  </form>
</div>
  
{% endblock %}