{% extends "base.html" %}

{% block content %}

<h2>Inscrivez-vous</h2>
{% if form.errors %}
  {{ form.errors }}
{% endif %}

<div class="flexbox-center fields-size">
  <form class="flexbox-center flex-column size" action="" method="post">
    {% csrf_token %}
    {% for field in form %}
      {{ field }}
    {% endfor %}

    <div class="flexbox-right">
      <a href="{% url 'home-page' %}" type="button">
        <input class="fields-margin generic-buttonn" type="button" value="Retourner">
      </a>
      <!--<a class="fields-margin generic-buttonn" href="{% url 'home-page' %}" type="button">Retourner</a>-->
      <!--<input class="fields-margin generic-buttonn" type="button" value="Retourner" onclick="{% url 'home-page' %}">-->
      <input class="fields-margin generic-buttonn" type="submit" value="S'inscrire">
    </div>
  </form>
</div>
  
{% endblock %}