body {
    /* background-color: #0d0f11 */
    background-color: #272822;
    color: white;
    /* color: #de935f; */
}

h2 {
    /* color: #7ABEF3 */
    color: #b294bb;
    text-align: center;
    margin: 30px 0px;
}

a {
    text-decoration: none;
    color: #7fb5e5;
    text-align: center;
}

a.generic-buttonn {
    color: black;
    text-align: center;
}

.bs-perso-navbar-central {
    position: sticky;
    left: 46.4%;
}

.bs-perso-navbar-brand-container {
    display: flex;
    justify-content: space-between;
    width: 22.5%;
}

.bs-perso-navbar-right {
    display: flex;
    min-width: 22.5%;
}

.h2 {
    text-align: center;
    margin: 30px 0px;
}

::-webkit-input-placeholder { text-align: center;}
::-moz-placeholder { text-align: center;}
:-ms-input-placeholder { text-align: center; }
input:-moz-placeholder { text-align: center; }

.text-center {
    text-align: center;
}

.flexbox-center {
    display: flex;
    justify-content: center;
}

.flexbox-spacearound-center {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.flex-column {
    flex-direction: column;
}

.generic-buttonn {
    /* background-color: #084276 */
    background-color: #7fb5e5;
    border-radius: 10px;
    min-width: 95px;
    width: auto;
}

.margin-top {
    margin-top: 80px;
}


/* follow_user.html */
.follow-container {
    width: 100%;
}

.follow-cell {
    border: 2px solid black;
}

.follow-name {
    padding-left: 10px;
}

.follow-button-container {
    padding: 0px;
    text-align: center;
    width: 110px;
}

.follow-buttonn {
    background-color: #272822;
    color: #7fb5e5;
    border: 0px;
    width: 110px;
}

.follow-a-button {
    text-decoration: none;
    width: 110px;
}

/* formulaire */
.size-little-fields {
    width: 320px;
}

.size-search-container {
    width: 90%;
}

.size-search-field {
    width: 100%;
    height: 100%;
}

.flexbox-right {
    display: flex;
    justify-content: right;
}


.fields-margin {
    margin: 10px;
}

.button-margin-right {
    margin-right: 10px;
}


/* Ticket */
.borderr {
    border: 2px solid #7fb5e5;
    /* border: 2px solid #b294bb; */
    /* border: 2px solid black; */
}

.flux-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flux-upload-link-container {
    min-width: 500px;
    width: 50%;
    height: 36px;
    margin: 30px 0px;
}

.flux-content-container {
    width: 55%;
    min-width: 500px;
    padding: 10px;
    margin: 10px 0px;
}

.flux-content-container-interlock {
    display: flex;
    justify-content: center;
}

.flux-content-interlock {
    min-width: 95%;
}

.flux-content-first-line {
    display: flex;
    justify-content: space-between;
}

.button-upload {
    width: 230px;
}

.hidden {
    display: none;
}


.separate-form {
    min-width: 500px;
    border: 2px solid #7fb5e5;
    border-collapse: collapse;
    padding: 10px;
}

.border-top-none {
    border-top: none;
    margin-bottom: 15px;
}

.content-ticket-answer {
    width: 85%;
    min-width: 476px;
}

.no-margin {
    margin: 0px;
}

.margin-10 {
    margin: 10px;
}

.button-back {
    margin: 10px;
    margin-right: 20px;
}

.margin-left-20 {
    margin-left: 20px;
}

.bs-perso-message {
    text-align: center;
    font-size: 2rem;
    width: 55%;
    margin: 30px 23%;
}

.hyphens-break-word {
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    overflow-wrap: break-word;
}