body {
    background-color: #272822;
    color: white;
}

h2 {
    text-align: center;
    margin: 30px 0px;
}

a {
    text-decoration: none;
    color: #7fb5e5;
    text-align: center;
}

a.generic-buttonn {
    color: black;
    text-align: center;
}

.text-center {
    text-align: center;
}

.flexbox-center {
    display: flex;
    justify-content: center;
}

.flexbox-spacearound-center {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.flex-column {
    flex-direction: column;
}

.generic-buttonn {
    background-color: #7fb5e5;
    border-radius: 10px;
}

.margin-top {
    margin-top: 80px;
}


/* follow_user.html */
.follow-container {
    width: 100%;
}

.follow-cell {
    border: 1px solid black;
}

.follow-name {
    padding-left: 10px;
}

.follow-button-container {
    padding: 0px;
    text-align: center;
    width: 110px;
}

.follow-buttonn {
    background-color: #272822;
    color: #7fb5e5;
    border: 0px;
    width: 110px;
}

.follow-a-button {
    text-decoration: none;
    width: 110px;
}

/* formulaire */
.size {
    width: 320px;
}

.flexbox-right {
    display: flex;
    justify-content: right;
}

.fields-margin {
    margin: 10px;
}